<%= form_with(model: tool, local: true) do |form| %>
  <% if tool.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tool.errors.count, "error") %> prohibited this tool from being saved:</h2>

      <ul>
      <% tool.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description, id: :tool_description %>
  </div>


 <div class="field">
    <%= form.label :image %>
    <%= form.file_field :image %>
    <% if form.object.image? %>
    <%= form.label :remove_image %>
    <%= form.check_box :remove_image %>
    <% end %>
  </div>

  <!--div class="field">
    add an image.... <br>
    <%= form.file_field :image %>
  </div> -->

   <!-- <div class="field">
    <%= form.label :owner %>
    <%= form.text_field :owner, id: :tool_owner_id %>
  </div> -->

  <div class="field">
    <%= form.label :day_price %>
    <%= form.number_field :day_price, id: :tool_day_price %>
  </div>

  <div class="field">
    <%= form.label :week_price %>
    <%= form.number_field :week_price, id: :tool_week_price %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
