<p id="notice"><%= notice %></p>
<h2>Equipment available for hire below</h2> <mark class="text-warning"><%= link_to 'Click to create your own equipment listing', new_tool_path %></mark>

<h3></h3>

<div class="container">
  <div class="card-columns">
    <% @tools.reverse.each do |tool| %>
      <div data-aos="flip-left" data-aos-delay="100">
        <div class="card">
          <%= image_tag(tool.image_url.to_s, class: "picture_icon, card-img-top") %>
          <div class="card-body">
            <h3 class="card-title"><%= tool.description %></h3>
            <p class="card-text">
              <p>Price per day $<%= tool.day_price %></p>
              <p>Price per week $<%= tool.week_price %></p>
              <p>Posted by <%= tool.user %></p>

              <p>
                <% if tool.user != current_user %>
                  <mark><%= link_to 'View Equipment Details', tool %></mark>
                <% end %>
                <% if tool.user == current_user %>
                  <mark><%= link_to 'Edit listing', edit_tool_path(tool) %></mark>
                <% end %>
              </p>
          </div>
        <div class="card-footer">
        <small class="text-muted"><%= time_ago_in_words(tool.created_at) %> ago</small>
        </div>
        </div> 
      </div>
    <% end %>
  </div>
</div> 
