<p id="notice"><%= notice %></p>

<div class="container">
  <div class="card">
    <p>
      <strong>-</strong>
      <%= image_tag @tool.image.url, height: 420, width: 640 %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= @tool.description %>
    </p>

    <p>
      <strong>Day price:</strong>
      <%= @tool.day_price %>
    </p>

    <p>
      <strong>Week price:</strong>
      <%= @tool.week_price %>
    </p>

    <p>
      <% if @tool.user != current_user %>
        <h3><mark> <%= link_to 'Book this equipment?', tools_path %></mark></h3>
      <% end %>
      <br>
      <% if @tool.user == current_user %>
        <%= link_to 'Edit listing', edit_tool_path(@tool) %>
      <br>
      <% end %>
    </p> 
  </div>
  <h3> <%= link_to 'Back', tools_path %></h3>
</div>

