<!DOCTYPE html>
<html>
  <head>
    <title>ConstructShare</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    
<div id="user_nav">
    <% if user_signed_in? %>
    <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
    <% else %>
    <%= link_to('Login |', new_user_session_path) %>
    <%= link_to('Join now!', new_user_registration_path)%>
    <% end %>
    
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

      <header class="navbar  navbar-inverse">
    <div class="navbar-class">
      <div class="container">
</div>
<%= yield %>
  </body>
</html>


